.cards {
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

    @media (max-width: 1280px) {
      gap: 22px;
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      gap: 20px;
    }
  }
}
