@font-face {
  font-family: 'Formular';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/formular-light.woff') format('woff'),
    url('../assets/fonts/formular-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Formular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/formular-regular.woff') format('woff'),
    url('../assets/fonts/formular-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Formular';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/formular-bold.woff') format('woff'),
    url('../assets/fonts/formular-bold.woff2') format('woff2');
}
