:root {
  --red: rgba(255, 45, 35, 1);
  --black-light: rgba(44, 46, 62, 1);
  --black-dark: rgba(30, 32, 48, 1);
  --gray: rgba(143, 149, 172, 1);
  --gray-20: rgba(143, 149, 172, 0.2);
  --white: rgb(255, 255, 255);

  --button-shadow: 0 0 15px 8px rgba(255, 45, 35, 0.5);
  --card-shadow: 0 0 15px 0 rgba(143, 149, 172, 0.15);
  --card-shadow-hover: 0 0 20px 0 rgba(143, 149, 172, 0.4);
  --card-btn-shadow: 0px 4px 20px 0px rgba(143, 149, 172, 0.6);
  --slider-gradient: linear-gradient(360deg, rgba(24, 24, 30, 0.6) 0%, rgba(23, 24, 31, 0) 82.86%);

  --sans: 'Formular', sans-serif;

  --transition: 0.6s ease;
}
